/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.entry-title {
    font-size: 32px;
    color: #082151;
}

.small-title {
    font-size: 24px;
    color: #082151;
}

a.link {
    color: #2485fd;
    font-size: 16px;
    text-decoration: none;
}

.medium-text {
    color: #697693;
    font-size: 20px;
}

.small-text {
    color: #697693;
    font-size: 16px;
}

.section-padding {
    padding:40px;
}

/* HEADER */
header .top-nav {
    padding: 20px 0;
}
header .top-nav .logo img {
    height: 30px;
}

/* Header Menu */
.header-menu {
    margin:0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

.header-menu li {
    display: inline-block;
    line-height: 35px;
    padding-right: 15px;

}

.header-menu li a {
    color: #082151;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.header-menu li .header-btn {
    border: 1px solid #2485fd;
    color: #2485fd;
}

header .burger a{
    font-size:25px;
    color: #2485fd;
}



/* MEDIA QUERIES */

/* TABLET */
@media all and (min-width: 768px) and (max-width: 991px) {
    /* Common */
    .container {
        width: 100%;
    }
}

