/* COMMON */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.entry-title {
    font-size: 30px;
    color: #082151;
}

.small-title {
    font-size: 20px;
    color: #082151;
}

a.link {
    color: #2485fd;
    font-size: 16px;
    text-decoration: none;
}

.medium-text {
    color: #697693;
    font-size: 20px;
}

.small-text {
    color: #697693;
    font-size: 16px;
}

.section-padding {
    padding:40px 0;
}

.padding-block-30 {
    padding: 30px 0;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

/* HEADER */
header .top-nav {
    padding: 20px 0;
}
header .top-nav .logo img {
    height: 30px;
}

/* Header Menu */
.header-menu {
    margin:0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

.header-menu li {
    display: inline-block;
    line-height: 35px;
    padding-right: 15px;

}

.header-menu li a {
    color: #082151;
    font-size: 14px;
    text-decoration: none;
    vertical-align: middle;
}

.header-menu li .header-btn {
    border: 1px solid #2485fd;
    color: #2485fd;
}

header .burger a{
    font-size:25px;
    color: #2485fd;
}

/* MAIN */

/* JUMBOTRON */

.jumbotron {
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
    color: white;
    margin-bottom: 0;
}

.teaser p {
    color: #bbcdff;;
}


/* Form */
#contact-form {
    background-color: #fff;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
}
#contact-form h2 {
    margin:0;
}
#contact-form h3 {
    color: #2485fd;
    margin: 15px 0;
    font-size: 30px;
}

#contact-form .form-group:nth-child(4) input[type="submit"] {
    background-color: #2485fd;
    border: 0;
    color:white;
}
#contact-form .btn-form {
    background-color: #fff;
    border: 0;
    color:#626262;
    box-shadow: 1px 1px 3px rgba(128, 128, 127, 0.5);
    position: relative;
    cursor: pointer;
    line-height: 25px;
}

#contact-form .btn-form img {
   height: 100%;
   position: absolute;
   left:0;
   top:0;
   padding:  6px 12px;
}

#contact-form .agree {
    color: #082151;
    font-size: 12px;
}

#contact-form .agree .link {
    font-size: 12px;
    text-decoration: underline;
}

/* SEZIONE PARNERS */
.partners {
    background-color: #f3f5f9;
}

.partners h3 {
    color: #8a94aa;
    text-transform: uppercase;
}

.partners .partner-images {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.partners .partner-images li {
    display: inline-block;
    width: calc( ( 100% / 2 ) - 3px );
}

.partners .partner-images li img {
    width: 75%;
    vertical-align: middle;
}

/* SEZIONE SERVIZI */
.services .service-list {
    list-style-type: none;
    border-left: 2px solid #cccccc;
    padding: 5px 0 5px 10px;
}

.services .service-list li a:hover {
    text-decoration: none;
}




/* MEDIA QUERIES */

/* TABLET */
@media all and (min-width: 768px) and (max-width: 991px) {
    /* Common */
    .container {
        width: 95%;
    }

    /* Jumbotron */
    .jumbotron .h1, .jumbotron h1 {
        font-size: 36px;
    }

    /* Sezione Partners */
    .partners .partner-images li {
        display: inline-block;
        width: calc( ( 100% / 6 ) - 3px );
    }

    /* Sezione Servizi */
    .services .service-list {
        width: 50%;
        margin: auto;
    }

}

/* COMPUTER */
@media all and (min-width:992px) {

    /* Sezione Partners */
    .partners .partner-images li {
        display: inline-block;
        width: calc( ( 100% / 6 ) - 3px );
    }

    /* Sezione Servizi */
    .services .service-list {
        width: 50%;
        margin: auto;
    }
}

